{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="py-4 mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="fw-bold">Newspaper List</h1>
      <a href="{% url 'news_management:newspaper-create' %}" class="btn btn-success shadow-sm px-4">
        <i class="bi bi-plus-circle me-1"></i> Add Newspaper
      </a>
    </div>
    
    {% include "includes/search_field.html" %}
    
    {% if newspaper_list %}
      <ul class="list-group shadow-sm rounded overflow-hidden">
        {% for newspaper in newspaper_list %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'news_management:newspaper-detail' pk=newspaper.id %}" class="text-decoration-none text-dark fw-bold">
              {{ newspaper.title }}
            </a>
            <span class="text-muted">{{ newspaper.published_date }}</span>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-info text-center py-3 mt-3 fw-bold shadow-sm">
        <i class="bi bi-exclamation-circle me-1"></i> There are no newspapers in the agency
      </div>
    {% endif %}
  </div>
{% endblock %}
