{% extends "base.html" %}
{% load crispy_forms_field %}

{% block content %}
  <h1>
    Newspaper List
    <a href="{% url 'news_management:newspaper-create' %}" class="btn btn-success link-to-page">
      Add newspaper
    </a>
  </h1>

  {% if newspaper_list %}
    <ul>
      {% for newspaper in newspaper_list %}
        <li>
          <a href="{% url 'news_management:newspaper-detail' pk=newspaper.id %}">
            {{ newspaper.title }}
          </a>
          - {{ newspaper.published_date }}
        </li>
      {% endfor %}
    </ul>

  {% else %}
    <p>There are no newspapers in agency</p>
  {% endif %}

{% endblock %}
