{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Topic List
    <a href="{% url 'news_management:topic-create' %}" class="btn btn-success link-to-page">
      Add topic
    </a>
  </h1>
  {% if topic_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for topic in topic_list %}
        <tr>
          <td>
            {{ topic.id }}
          </td>
          <td>
            {{ topic.name }}
          </td>
          <td>
            <a href="{% url 'news_management:topic-update' pk=topic.id %}" class="btn btn-warning">
              Update
            </a>
          </td>
          <td>
            <a href="{% url 'news_management:topic-delete' pk=topic.id %}" class="btn btn-danger">
              Delete
            </a>
          </td>
          <td></td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no topics in the agency</p>
  {% endif %}

{% endblock %}
